# Laravel
/bootstrap/cache/
/storage/
/vendor/
node_modules/
npm-debug.log
yarn-error.log
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Build
/public/build/
/public/hot

# Local files
database.sqlite

*.cache

*no*commit*
*No*Commit*
*NO*COMMIT*
*.bkp.*
*.bkp
*.log
*.swp
*.out
*.zip
_ide_helper*
